<div class="small-info-page">
    <mat-card>
        <mat-card-title>Register your account</mat-card-title>
        <mat-card-content>
            <form [formGroup]="registerForm"
                  (ngSubmit)="register()">
                <mat-form-field class="full-width-input">
                    <input matInput
                           placeholder="Email"
                           formControlName="email"
                           required>
                    <mat-error>
                        <app-validation-feedback controlName="email"></app-validation-feedback>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input matInput
                           placeholder="Phone Number"
                           formControlName="phoneNumber"
                           required>
                    <mat-error>
                        <app-validation-feedback controlName="phoneNumber"></app-validation-feedback>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input #password
                           matInput
                           type="password"
                           placeholder="Password"
                           formControlName="password"
                           required>
                    <mat-icon [appPasswordSwitchType]="password"
                              matSuffix>{{ password.type === 'password' ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error>
                        <app-validation-feedback controlName="password"></app-validation-feedback>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width-input">
                    <input #confirmPassword
                           matInput
                           type="password"
                           placeholder="Confirm Password"
                           formControlName="confirmPassword"
                           pattern="{{ password.value }}"
                           required>
                    <mat-icon [appPasswordSwitchType]="confirmPassword"
                              matSuffix>{{ confirmPassword.type === 'password' ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                    <mat-error>
                        <app-validation-feedback controlName="confirmPassword">
                            <ng-container *ngIf="registerForm.get('confirmPassword')?.hasError('pattern')">
                                This doesn't match the password you've provided.
                            </ng-container>
                        </app-validation-feedback>
                    </mat-error>
                </mat-form-field>
                <div class="margin-top-25">
                    <button [disabled]="!registerForm.valid"
                            mat-raised-button
                            color="primary">Register</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>