@model Insig.IdentityServer.Models.ForgotPasswordViewModel

<div>
    <div>
        <h1>Reset password</h1>
        <p>Enter your email</p>

        <form asp-action="ForgotPassword" autocomplete="off">
            <div class="form-group">
                <input asp-for="Email" placeholder="Email" class="form-control" autofocus />
            </div>
            <div class="mt-4 mb-4">
                <button class="btn btn-primary">Reset</button>
            </div>
            <partial name="_ValidationSummary" />
        </form>
    </div>
</div>