<mat-card>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel cursus orci, eget tempor magna. Nunc mollis,
    elit
    ultrices facilisis ultricies, diam dolor venenatis arcu, nec congue odio leo eget massa. Aliquam eu volutpat arcu.
    Suspendisse sed nibh non mi efficitur ullamcorper ac eget nisi. Cras lobortis est augue, tristique laoreet erat
    ultricies vel. Aenean sapien risus, feugiat quis risus non, aliquet scelerisque est. Nam pellentesque tortor id
    facilisis lobortis. Aliquam at neque fermentum lacus porttitor finibus. Phasellus porttitor turpis vel massa
    volutpat,
    vel vulputate metus porta. Pellentesque suscipit quam eu diam cursus, nec condimentum ligula pellentesque. Aenean
    imperdiet diam felis, nec gravida orci vehicula vitae. Donec varius luctus sapien sit amet venenatis. Donec
    ullamcorper placerat ipsum, nec vulputate nisi dapibus eget.
  </p>

  <p>
    In pretium ante vel tristique mattis. Morbi vitae pharetra justo, nec facilisis nisi. Curabitur quis sem diam.
    Aenean
    condimentum sagittis interdum. Suspendisse dictum nec lectus et viverra. Aenean scelerisque diam id nisi convallis
    hendrerit. Sed nec interdum purus. Aenean hendrerit nibh gravida turpis eleifend sodales. Aliquam tincidunt erat sit
    amet tristique convallis. Integer a sollicitudin nunc. Suspendisse iaculis nulla in sem viverra aliquet. Donec eu
    urna
    lobortis, condimentum nulla ut, vulputate magna.
  </p>

  <p>
    Ut eget tincidunt libero. Nam molestie porta arcu ut rutrum. Duis sed mi ut sem sodales porttitor eget ut lectus.
    Etiam nec elit urna. Sed placerat, odio sed dignissim iaculis, quam lacus consequat enim, et mollis velit ipsum
    tempus
    lacus. Vivamus sollicitudin venenatis elementum. Morbi a erat eros.
  </p>

  <p>
    Maecenas posuere urna sit amet justo porta, a semper turpis dignissim. Fusce nisi nibh, dapibus quis turpis id,
    finibus aliquet urna. Vestibulum tristique, ligula at ultricies mollis, mi massa tristique nunc, quis auctor mi nibh
    a
    sem. Nullam eros dui, hendrerit ac lectus eget, consequat sollicitudin mauris. Maecenas in bibendum erat. Vestibulum
    fermentum interdum ornare. Proin tincidunt ligula ac est euismod mattis non nec urna. Cras in metus quis leo
    molestie
    maximus ac ac quam.
  </p>

  <p>
    Donec accumsan, nunc sit amet commodo ultricies, eros magna tristique dolor, nec accumsan diam ante sit amet ligula.
    Donec at blandit ipsum, quis scelerisque sem. Suspendisse vel gravida diam. In lacinia consequat consequat. Integer
    interdum hendrerit aliquet. Mauris eu tellus sagittis, iaculis augue nec, viverra magna. Proin ultricies ac diam nec
    rutrum. Proin fermentum sit amet purus id lacinia. Phasellus quis condimentum orci, et tempus dui. Nulla facilisi.
    Phasellus porta urna id cursus rutrum. Nullam eleifend interdum urna, sit amet scelerisque sapien gravida sed. In
    quis
    augue sagittis, convallis orci quis, porta purus. Aliquam sollicitudin mauris non purus tempus vulputate. Vestibulum
    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus finibus tellus dictum, luctus
    mauris sed, congue quam.
  </p>
</mat-card>