<mat-card>
  <h1>Authorization Project:</h1>
  <ul>
    <li>.NET Core 2.2</li>
    <li>IdentityServer4</li>
    <li>Authorization Code Flow + PKCE</li>
    <li>Database - Microsoft SQL Server</li>
    <li>Consent page (need to be enabled in Config.cs)</li>
    <li>Serilog</li>
  </ul>

  <h1>API Project:</h1>
  <ul>
    <li>.NET Core 2.2</li>
    <li>CQRS + Dispatcher</li>
    <li>Prepared for Domain-driven design</li>
    <li>IoC Container Autofac</li>
    <li>Database - Microsoft SQL Server</li>
    <li>Serilog</li>
  </ul>

  <h1>Angular Project:</h1>
  <ul>
    <li>.NET Core 2.2</li>
    <li>Angular 8</li>
    <li>Authorization (oidc-client.js)</li>
    <li>Silent refresh</li>
    <li>Angular Material</li>
    <li>Toasts</li>
    <li>Directive for input validation errors</li>
  </ul>
</mat-card>