<div class="small-info-page">
  <mat-card>
    <mat-card-title>
      <img src="assets/images/open-identity.png"
           class="openid-logo" /></mat-card-title>
    <mat-card-content>
      <div class="login-info">
        This step redirects to the IdentityServer instance to perform the authentication step. Before you can login
        here, you must <a routerLink="/register">register a new account</a>.
      </div>
      <div>
        <button mat-raised-button
                color="primary"
                (click)="login()">Login with IdentityServer</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>