<mat-card>
    <h1>Authorization Project:</h1>
    <ul>
        <li>.NET 5.0</li>
        <li>IdentityServer4</li>
        <li>Authorization Code Flow + PKCE</li>
        <li>Database - Microsoft SQL Server</li>
        <li>Email verification (after registering)</li>
        <li>Phone number verification (in Manage Account)</li>
    </ul>

    <h1>API Project:</h1>
    <ul>
        <li>.NET 5.0</li>
        <li>CQRS + Dispatcher</li>
        <li>Custom Query Builder for Dapper</li>
        <li>Prepared for Domain-driven design</li>
        <li>IoC Container Autofac</li>
        <li>Database - Microsoft SQL Server</li>
    </ul>

    <h1>Angular Project:</h1>
    <ul>
        <li>.NET 5.0</li>
        <li>Angular 11</li>
        <li>Authorization (oidc-client.js)</li>
        <li>Silent refresh</li>
        <li>Angular Material</li>
        <li>Toasts</li>
        <li>Directive for input validation errors</li>
        <li>Secured API calls (Encoding URI)</li>
    </ul>

    <h1>Other:</h1>
    <ul>
        <li>Domain tests</li>
        <li>Integration API tests</li>
        <li>Serilog</li>
        <li>HTTP security headers</li>
    </ul>
</mat-card>
