<mat-toolbar color="primary"
             class="mat-elevation-z6">

  <div class="nav-title"
       routerLink="/">{{title}}</div>

  <span class="fill-remaining-space"></span>

  <nav *ngIf="!(authStatus$ | async)">
    <button *ngIf="!(authStatus$ | async)"
            mat-button
            routerLink="/login">
      <mat-icon>security</mat-icon> Login
    </button>
    <button *ngIf="!(authStatus$ | async)"
            mat-button
            routerLink="/register">
      <mat-icon>call_made</mat-icon> Register
    </button>
  </nav>

  <nav *ngIf="authStatus$ | async">
    <button mat-button
            routerLink="/sample">
      <mat-icon>mood</mat-icon> Sample
    </button>
    <button mat-button
            (click)="signout()">
      <mat-icon>exit_to_app</mat-icon> Signout {{getUserName()}}
    </button>
  </nav>
</mat-toolbar>