<mat-toolbar color="primary"
             class="mat-elevation-z6">

  <div class="nav-title"
       routerLink="/">{{title}}</div>

  <span class="fill-remaining-space"></span>

  <div>
    <button mat-button
            routerLink="/sample">
      <mat-icon>mood</mat-icon> Sample
    </button>
    <button mat-button
            routerLink="/login">
      <mat-icon>security</mat-icon> Login
    </button>
    <button mat-button
            routerLink="/registration">
      <mat-icon>call_made</mat-icon> Register
    </button>
  </div>

</mat-toolbar>