<div class="manage-menu">
    <ul class="list-group">
        <li class="list-group-item"><a asp-action="Index" asp-route-returnUrl="@ViewBag.ReturnUrl">Profile</a></li>
        <li class="list-group-item"><a asp-action="ChangePassword" asp-route-returnUrl="@ViewBag.ReturnUrl">Password</a></li>
    </ul>
</div>