<div>
    <ul>
        <li><a asp-action="Index">Profile</a></li>
        <li><a asp-action="ChangePassword" asp-route-returnUrl="@ViewBag.ReturnUrl">Password</a></li>
        <li><a asp-action="ConfirmPhoneNumber" asp-route-returnUrl="@ViewBag.ReturnUrl">Phone Number</a></li>
    </ul>
</div>