@using IdentityServer4.Extensions
@model Insig.IdentityServer.Models.ChangePasswordViewModel

@if (Model.HasError)
{
    <div class="alert alert-warning">
        <strong>Password cannot be changed.</strong>
        Try again or contact with administrator.
    </div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-route="ChangePassword">
            <div class="form-group">
                <label asp-for="OldPassword"></label>
                <input asp-for="OldPassword" class="form-control" autofocus />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="mt-4 mb-4">
                <button class="btn btn-primary" name="button" value="update">Update password</button>
                <button id="cancel" class="btn btn-light cancel" name="button" value="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#cancel").click(function () {
                $('form').hide();
            });
        });
    </script>
}