@model Insig.IdentityServer.Models.IndexViewModel

<partial name="_ValidationSummary" />

<div class="row">
    <div class="col-md-4">
        <form asp-route="Index">
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" readonly />
                @if (!@Model.PhoneNumberConfirmed)
                {
                    <span class="alert-danger">Phone number is not verified!</span>
                }
            </div>
            <div class="mt-4 mb-4">
                @if (!@Model.PhoneNumberConfirmed)
                {
                    <button class="btn btn-primary" name="button">Verify Phone</button>
                }
                <button type="button" class="btn btn-light" onclick="location.href = '@ViewBag.ReturnUrl'">Cancel</button>
            </div>
        </form>
    </div>
</div>