.auth-callback {
    display: block;
    padding: 60px 80px;

    div {
        h1 {
            margin: 0;
            padding: 0;
            font-size: 80px;
            line-height: 80px;
            text-transform: uppercase;
        }
    }
}

/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
    max-width: 800px;
    margin: 2em auto;
    text-align: center;
}
